* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  height: auto;
  width: 250px;

  margin: 50px 0;
}

.pokegrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pokecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 2px solid darkblue;

  padding: 25px;

  text-align: center;
  text-transform: uppercase;

  background-color: #9bbc0f;
}

.pokecard a {
  color: darkblue;
  text-decoration: none;
}

.pokecard a:hover {
  text-decoration: underline;
}

.pokedex-wrapper {
  background-color: #c00d0d;

  height: 1000px;
  width: 1000px;

  border-radius: 50px;

  position: relative;
}

.pokedex-loading {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: beige;

  border: 20px solid gray;
}

.pokedex-screen {
  width: 700px;
  height: 750px;

  position: absolute;

  background-color: beige;

  border: 20px solid gray;

  left: 150px;
  top: 100px;
  overflow-y: scroll;
}
